// Use !{var} to use unescaped conent
doctype html

html

  head
    link(href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../assets/style.css")

  body
    div.content
      div.top
        img.map(src="../assets/LOGO_moabit.png")

      div.bottom
        p.created-at 
            h1 #|Erstellt: #{submission.createdAt} in Berlin Moabit von 
               |<i>#{submission.author}</i>.


        h2 #{submission.question.text}
        ul
	  p #{submission.text}
          
          each translation in translations
          p #{translation.question.text}
          p #{translation.submission.text}