// Use !{var} to use unescaped conent
doctype html

html

  head
    link(href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../assets/style.css")

  body
    div.content
      div.top
        div.left
          h1 Interpart
          h2 Wann ist ein Platz ein Platz?

        div.right
          img.map(src="../assets/image.png")

      div.bottom
        p.created-at 
            |Created at #{submission.createdAt} in Berlin Moabit from 
            |<i>#{submission.author}</i>.

        ul
          li
            h3 #{submission.question}
            p #{submission.text}
          
          each translation in submission.translations
            li
              h3 #{submission.question}
              p #{translation.text}