// Use !{var} to use unescaped conent
style(type="text/css") !{compiledStyle}
link(href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet")

div.content
  div.left
    h1 Interpart
    h2 Wann ist ein Platz ein Platz?
    
    p.created-at Erstellt am #{submission.createdAt} in Berlin Moabit.

  div.right
    img.map(src="http://localhost:3030/assets/image.png")

  div.all
    h3 Frage: #{submission.question}

    p.author Antwort von #{submission.author}:

    ul
      li #{submission.text}
      each translation in submission.translations
        li #{translation.text}